/*body{

    background-image: url(fondoretro.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
/*a{border: double 6px rgb(104, 0, 104);
    text-align: center;
    background-color: red;}*/